{% load static %}
{% block about %}
 <!-- Start About -->
 <section class="section" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="text-center mb-5">
                    <h3 class="mb-3">Web Tasarımı, Özel yazılım hizmetleri, google reklamları ve daha fazlası</h3>
                    <p class="text-muted">
                        Diyarbakır’da özel yazılım hizmetleri, web tasarımı ve Google reklamcılığı konusunda uzmanlaşmış bir ekibiz. Müşteri memnuniyeti ve yüksek kaliteli hizmet anlayışımızla diğer firmalardan ayrılıyoruz. Web tasarımı, yazılım hizmetleri, Google reklamları ve daha fazlası için bizimle iletişime geçebilirsiniz. Web sitemiz de profesyonel hizmet anlayışımızı yansıtmaktadır.
                    </p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="text-center p-4">
                    <div class="icons-xl mb-3">
                        <i class="uim uim-ruler"></i>
                    </div>

                    <h5>Web Tasarımı</h5>
                    <p class="text-muted">Yazılımcı ekibimiz ile sizlere profesyonel web sitesi hizmeti sağlıyoruz kolay kullanımlı arayüz ile hayalinizdeki web sitenizi sorunsuz teslim ediyoruz.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="text-center p-4">
                    <div class="icons-xl mb-3">
                        <i class="uim uim-repeat"></i>
                    </div>

                    <h5>Özel yazılımlar</h5>
                    <p class="text-muted">Hangi sektörde olursanız olun siz hayal edin biz kodlayalım prensibi ile çalışıyoruz. Masaüstü uygulamalar mobil uygulamalar ve diğer tüm özel programlarınız için bizimle iletişime geçebilirsiniz.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="text-center p-4">
                    <div class="icons-xl mb-3">
                        <i class="uim uim-airplay"></i>
                    </div>

                    <h5>Danışmanlık hizmeti</h5>
                    <p class="text-muted">Alanında uzman ekibimiz ile sizlere bilişim ve inşaat sektöründe her türlü danışmanlık hizmetini sağlıyoruz.</p>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end About -->
{% endblock about %}