{% load static %}
{% block cta %}
 <!-- Start cta section -->
 <section class="py-5 bg-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="text-white-50">
                    <h3 class="text-white">Hayalinizdeki web sitesini bugün oluşturun!</h3>
                    <p class="mb-0 fs-6">Profesyonel Çözümler için bize ulaşın.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="mt-4 mt-md-0 text-md-end">
                    <a href="https://api.whatsapp.com/send?phone=905418263721&text=Merhaba size nasıl yardımcı olabilirim" class="btn btn-info">İletişime geç!</a>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End cta section -->

{% endblock cta %}