{% load static %}
{% block features %}
<!-- Start Features -->
<section class="section bg-light" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center title mb-5">
                    <p class="text-muted text-uppercase fw-normal mb-2">WebartTech</p>
                    <h3 class="mb-3">Neden Biz? Çünkü İşimizi Profesyonel Yapıyoruz!</h3>
                    <div class="title-icon position-relative">
                        <div class="position-relative">
                            <i class="uim uim-arrow-circle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row align-items-center">
            <div class="col-lg-5 order-2 order-lg-1">
                <div class="mt-4 mt-lg-0">
                    <h4>Şirketinizin yazılım işlerinizi bizimle hayata geçirin!</h4>
                    <p class="text-muted mt-3">
                        Dijital dünyada her geçen gün daha fazla işletme, varlıklarını online alanda güçlendirmeye çalışıyor. Ancak, maalesef birçok firma, müşterilerini aldatıcı çözümlerle oyalıyor. Basitçe WordPress şablonlarıyla hızlıca oluşturulan siteler, işletmelerin potansiyelini gerçekleştirmesinin önünde büyük bir engel oluşturuyor. İşte burada biz devreye giriyoruz.</p>

                    <div>
                        <p class="mb-2 text-muted">
                            <span class="uim-icon-info me-2 align-middle"><i class="uim uim-check-circle"></i></span>Özel yazılım çözümleri, işletmenizin gereksinimlerine tam olarak uyum sağlayan araçlar sunar.
                        </p>
                        <p class="mb-2 text-muted">
                            <span class="uim-icon-info me-2 align-middle"><i class="uim uim-check-circle"></i></span>
                            Gerçek anlamda SEO uyumlu web siteleri, web sitenizin organik aramalarda daha iyi performans göstermesini sağlar.
                        </p>
                        <p class="text-muted">
                            <span class="uim-icon-info me-2 align-middle"><i class="uim uim-check-circle"></i></span>Uzman ekibimiz ile işletmenize özel dijital dönüşüm sağlıyoruz.
                        </p>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="text-primary"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 ms-lg-auto col-sm-8 order-1 order-lg-2">
                <div>
                    <img src="{% static 'images/features/img-1.jpg' %}" alt="" class="img-fluid mx-auto d-block" />
                </div>
            </div>
        </div>
        <!-- end row -->

        <hr class="my-5" />

        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-8">
                <div class="features-img mt-4">
                    <img src="{% static 'images/features/img-2.jpg' %}" alt="" class="img-fluid mx-auto d-block img-thumbnail" />
                </div>
            </div>

            <div class="col-lg-5 ms-lg-auto">
                <div class="mt-5 mt-lg-4">
                    <h4>Bize danışmadan Teknolojik çalışmalarda bulunmayın!</h4>
                    <p class="text-muted mb-2 mt-3">Dijital dünyada başarılı olmanın yolu, doğru adımları atmaktan geçer. Özellikle teknolojiye dayalı projelerde ve web sitesi tasarımlarında, işini gerçekten bilen profesyonellerle çalışmak çok önemlidir. Biz, işimizi ciddiye alıyoruz ve size sadece en iyisini sunmayı hedefliyoruz.</p>
                    <p class="text-muted">Diyarbakır'ın dijital dönüşümüne katkıda bulunmak için buradayız! Hedefimiz, Diyarbakır'daki herkesin güvenilir, kullanımı kolay ve düşük maliyetli dijital projelere sahip olmasını sağlamak. İster bir web sitesi isterse özel bir yazılım çözümü olsun, biz sizin için en iyisini yapmaya hazırız.</p>
                    <div class="mt-4">
                        <a href="#" class="text-primary"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Features -->
{% endblock features %}