{% load static %}
{% block footer %}
 <!-- start footer -->
 <footer class="footer bg-dark text-white-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a href="#" class="d-block mb-3">
                    <img src="{% static 'images/logo-light.png' %}" alt="" height="20" />
                </a>
                <p>Web art Tech özel yazılım çözümleri </p>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="mt-4 mt-lg-0">
                    <h5 class="mb-4 font-18 text-white">Linkler</h5>
                    <ul class="list-unstyled footer-list-menu">
                        <li><a href="#">Ana sayfa</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="mt-4 mt-lg-0">
                    <h5 class="mb-4 font-18 text-white">Kaynaklar</h5>
                    <ul class="list-unstyled footer-list-menu">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="mt-4 mt-lg-0">
                    <h5 class="mb-4 font-18 text-white">Sosyal Medya</h5>
                    <ul class="list-inline social-icons-list">
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/webart.tech/"><i class="mdi mdi-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://api.whatsapp.com/send?phone=905418263721&text=Merhaba size nasıl yardımcı olabilirim"><i class="mdi mdi-phone"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="mdi mdi-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="mdi mdi-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
<!-- end footer -->
{% endblock footer %}