{% load static %}
{% block pricing %}
 <!-- Start pricing -->
 <section class="section bg-light" id="pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center title mb-5">
                    <p class="text-muted text-uppercase fw-normal mb-2">Plan</p>
                    <h3 class="mb-3">Fiyatlandırma</h3>
                    <div class="title-icon position-relative">
                        <div class="position-relative">
                            <i class="uim uim-arrow-circle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row pb-4">
            <div class="col-lg-4 col-md-6">
                <div class="card plan-box text-center p-2">
                    <div class="card-body">
                        <div class="icons-xl pt-4">
                            <i class="uim uim-box"></i>
                        </div>
                        <h4 class="mt-4">Web sitesi</h4>

                        <div class="plan-features text-muted mt-5">
                            <p>2 yıl domain hosting ücreti yok <span class="text-info fw-semibold"></span></p>
                            <p>Mobil uyumlu profesyonel site, kolay arayüz ile tek tıklama ile düzenleme <span class="text-info fw-semibold"></span></p>
                            <p>Seo uyumlu  <span class="text-info fw-semibold"></span></p>
                            <p>Her şey dahil <span class="text-info fw-semibold"></span></p>
                        </div>

                        <div class="mt-5">
                            <h3>
                                <sup><small></small></sup>20.000 TL  <span class="font-16 text-muted"></span>
                            </h3>
                            <div class="mt-4 mb-4">
                                <a href="https://api.whatsapp.com/send?phone=905418263721&text=Merhaba size nasıl yardımcı olabilirim" class="btn btn-info btn-block">İletişime geç!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card plan-box text-center p-2">
                    <div class="card-body">
                        <div>
                            <div class="icons-xl pt-4">
                                <i class="uim uim-rocket"></i>
                            </div>
                            <h4 class="mt-4">E-ticaret siteleri</h4>

                            <div class="plan-features text-muted mt-5">
                                <p>2 yıl boyunca domain hosting ücreti yok <span class="text-info fw-semibold"></span></p>
                                <p>Kolay arayüz ile sorunsuz ürün yükleme <span class="text-info fw-semibold"></span></p>
                                <p>Mobil uygulama üzerinden anında ürün yükleme düzeltme güncelleme <span class="text-info fw-semibold"></span></p>
                                <p>Mobil uyumlu <span class="text-info fw-semibold"></span></p>
                            </div>

                            <div class="mt-5">
                                <h3>
                                    <sup><small></small></sup>30.000 TL <span class="font-16 text-muted"></span>
                                </h3>
                                <div class="mt-4 mb-4">
                                    <a href="https://api.whatsapp.com/send?phone=905418263721&text=Merhaba size nasıl yardımcı olabilirim" class="btn btn-info btn-block">İletişime Geç!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card plan-box text-center p-2">
                    <div class="card-body">
                        <div>
                            <div class="icons-xl pt-4">
                                <i class="uim uim-user-md"></i>
                            </div>
                            <h4 class="mt-4">Özel Yazılım Hizmetleri</h4>

                            <div class="plan-features text-muted mt-5">
                                <p>Mobil uygulama <span class="text-info fw-semibold"></span></p>
                                <p>Masaüstü uygulama <span class="text-info fw-semibold"></span></p>
                                <p>Kripto ve borsa robotları <span class="text-info fw-semibold"></span></p>
                                <p>Tüm özel yazılım hizmetleri için bizimle iletişime geçin! <span class="text-info fw-semibold"></span></p>
                            </div>

                            <div class="mt-5">
                                <h3>
                                    <sup><small>Fiyat almak için </small></sup> <span class="font-16 text-muted"></span>
                                </h3>
                                <div class="mt-4 mb-4">
                                    <a href="https://api.whatsapp.com/send?phone=905418263721&text=Merhaba size nasıl yardımcı olabilirim" class="btn btn-info btn-block">İletişime Geç!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end plans row -->

        <!-- start faq -->
        <div class="row mb-5 pb-4">
            <div class="col-lg-6 col-md-6">
                <div class="mt-5 d-flex">
                    <div class="me-3">
                        <div class="avatar-title rounded-circle bg-soft-primary avatar-md text-primary">
                            <i class="mdi mdi-help"></i>
                        </div>
                    </div>

                    <div>
                        <h5 class="font-18 mt-1">Her İhtiyacınızı Karşılayan Çözümler</h5>
                        <p class="text-muted">Sizin taleplerinize göre tasarlanmış, tamamen özelleştirilebilir projelerle, her ihtiyacınızı karşılıyoruz.</p>
                    </div>
                </div>

                <div class="mt-4 d-flex">
                    <div class="me-3">
                        <div class="avatar-title rounded-circle bg-soft-primary avatar-md text-primary">
                            <i class="mdi mdi-help"></i>
                        </div>
                    </div>

                    <div>
                        <h5 class="font-18 mt-1">Tamamen Size Özel Çözümler</h5>
                        <p class="text-muted">Sürükle bırak sitelerle oluşturulan basit web siteleri ihtiyaçlarınızı karşılamaz. Her bir işletmenin benzersiz ihtiyaçlarına uygun özel çözümler geliştiriyoruz. Biz, hazır şablonlarla değil, sizin için özel olarak tasarlanmış projelerle çalışıyoruz.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="mt-sm-5 mt-4 d-flex">
                    <div class="me-3">
                        <div class="avatar-title rounded-circle bg-soft-primary avatar-md text-primary">
                            <i class="mdi mdi-help"></i>
                        </div>
                    </div>

                    <div>
                        <h5 class="font-18 mt-1">Güvenilirlik ve Kalite</h5>
                        <p class="text-muted">Diyarbakır'daki işletmelerin dijital ihtiyaçlarını karşılamak için en güvenilir ve kaliteli çözümleri sunuyoruz. İşimizi yaparken her detayı önemsiyor, projelerinizi en yüksek standartlarda hayata geçiriyoruz.</p>
                    </div>
                </div>

                <div class="mt-4 d-flex">
                    <div class="me-3">
                        <div class="avatar-title rounded-circle bg-soft-primary avatar-md text-primary">
                            <i class="mdi mdi-help"></i>
                        </div>
                    </div>

                    <div>
                        <h5 class="font-18 mt-1">Bütçenizi Koruruz</h5>
                        <p class="text-muted">Dijital dönüşümün pahalı olması gerekmez. Düşük maliyetlerle yüksek kaliteli çözümler sunarak, herkesin dijital dünyada güçlü bir varlık göstermesini sağlıyoruz.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end faq row -->
    </div>
    <!-- end container -->
</section>
<!-- end pricing -->
{% endblock pricing %}